[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libxcrypt", "pkg-config", "xsimd"]

[workflows]
runButton = "Setup FMS Project"

[[workflows.workflow]]
name = "Setup FMS Project"
author = 1733762
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python setup_fms_project.py"
