modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run FMS Tests"

[[workflows.workflow]]
name = "Setup FMS Project"
author = 1733762
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python setup_fms_project.py"

[[workflows.workflow]]
name = "Run FMS Tests"
author = 1733762
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_tests.py"

[[workflows.workflow]]
name = "Run FMS Demo"
author = 1733762
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python demo.py"
